body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at top, #0d0d1f, #000);
    color: white;
}

/* Navigation */
nav {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
}

nav h2.logo {
    margin-right: 40px;
    font-size: 24px;
    color: white;
}

nav h2 span {
    color: #d18cff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: #c9a0ff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover,
.active {
    color: #e2b3ff;
}

/* Header */
.header {
    text-align: center;
    margin-top: 70px;
}

.header h1 {
    font-size: 45px;
}

.header p {
    font-size: 18px;
    opacity: 0.7;
}

/* Store Cards */
.store-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    padding: 25px;
    width: 260px;
    border-radius: 15px;
    border: 1px solid #a565ff;
    text-align: center;
    transition: 0.3s;
    backdrop-filter: blur(6px);
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 25px #b873ff;
}

.card h2 {
    font-size: 28px;
    color: #d18cff;
}

.price {
    font-size: 24px;
    margin: 10px 0;
}

.card ul {
    text-align: left;
    font-size: 16px;
    padding-left: 15px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #b873ff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background: #d3a1ff;
}

