* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: url('https://wallpapercave.com/wp/wp2757874.gif') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
}

.logo {
    font-size: 28px;
}

.logo span {
    color: #c38bff;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover,
.active {
    color: #d7a2ff;
}

.discord {
    padding: 6px 12px;
    background: #5865F2;
    border-radius: 5px;
}

/* MAIN CONTENT */
.content {
    text-align: center;
    margin-top: 120px;
}

.content h1 {
    font-size: 55px;
}

.content h1 span {
    color: #d7a2ff;
}

.content p {
    margin-top: 12px;
    font-size: 20px;
}

/* IP BOX */
.ip-box {
    margin-top: 25px;
    display: inline-flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.45);
    padding: 12px 20px;
    border-radius: 8px;
}

.ip-box button {
    margin-left: 10px;
    padding: 8px 16px;
    background: #b26bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.players {
    margin-top: 20px;
    font-size: 22px;
}
